.page3 img {
  max-width: 100%;
  height: 100%;
}

.page3 {
  height: 100vh;
  max-width: 100%;
  z-index: 0;
}

.page3 img {
  width: 100%;
  height: 115%;
  z-index: 0;
}

.page3__background {
  /* border: 3px solid rgb(255, 0, 0); */
  /* position: relative;
    bottom: 200px; */
  margin-top: 0px;
}

.page3__pictext {
  /* border: 3px solid rgb(255, 0, 0); */
  position: relative;
  bottom: 350px;
  text-align: center;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page3__pictext p {
  font-size: 12px;
}

.page3__pictext--acceleration {
  /* border: solid 3px black; */
  display: inline-block;
  font-size: 30px;
}

.page3__pictext--acceleration p {
  margin-top: 2px;
}

.page3__pictext--speedtitle {
  /* border: solid 3px black; */
  display: inline-block;
  font-size: 24px;

  text-align: center;
  margin: 0px 60px;

  font-style: normal;
  font-weight: 500px;
  font-family: 'Gotham Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.page3__pictext--speedtitle--speedtext--number {
  /* border: solid 3px black; */

  width: 80%;
  font-size: 28px;
  line-height: 36px;
  padding: 0px;
}
.page3__pictext--speedtitle--speedtext--unit {
  /* border: solid 3px black; */
  width: 30%;
  font-size: 24px;
  line-height: 28px;
}
.page3__pictext--speedtitle--speedtext p {
  /* border: solid 3px black; */
  margin-top: 2px;
  line-height: 14px;
}

.page3__pictext--AWD {
  display: inline-block;
  font-size: 16px;
  font-weight: 500px;
  font-style: normal;

  font-family: 'Gotham Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.page3 {
  /* border: 2px solid red; */
  position: relative;
}

.page3footer {
  /* border: 2px solid red; */
  position: absolute;
  bottom: -200px;
  background-color: white;
  z-index: 2;
  height: 250px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

/* .page3footer div {
    float: left;
    width: 50%;
  } */

.page3footer__titels {
  display: inline-block;
  margin: 50px 0px;
  margin-left: 23%;
  width: 350px;
  /* border: 2px solid black; */
}

.page3footer__titels--largetitle {
  display: block;
  /* border: 2px solid black; */
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
  color: #181b21;
}
.page3footer__titels--smalltitle {
  display: block;
  /* border: 2px solid black; */
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: #181b21;
  font-family: 'Gotham Light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.page3footer__par {
  margin-left: 20px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #6e737c;
  font-family: 'Gotham SSm', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.page3footer__titels--bottens {
  /* border: 2px solid black; */
  position: relative;
  top: 5px;
  left: -2%;
}
